unless minimal

    nav.navbar
        div.navbar-top
            a.nav-item(href='/index.html') #{__('Home')}
            a.nav-item(href='https://miau.gg') Miau
            a.nav-item#overboardlink(href='/catalog.html') #{__('Overboard')}
            //a(href='/boards.html' class=`nav-item ${enableWebring ? 'short-nav' : ''}`)
                | #{__('Boards')}
            if topBoards && topBoards.length > 0
                each board in topBoards
                    a.nav-item-board(href=`/${board._id}/index.html`) /#{board.settings.name.length > 13 ? board.settings.name.substring(0,13) + '...' : board.settings.name}/

        div.navbar-bottom
            a.nav-item(href='/account.html') #{__('Account')}
            if !modview && board
                a.nav-item(href=`/${board._id}/manage/${managePage || 'index.html'}`) #{__('Manage')}
            a.nav-item-rules(href='/rules.html') #{__('Regras')}
            a.nav-item-faq(href='/faq.html') #{__('FAQ')}

        a.jsonly.nav-item.right#settings(data-label=(__('Settings')))