extends ../layout.pug

block head
	title Conta

block content
	.board-header
		h1.board-title Bem-vindo, #{user.username}
	br
	hr(size=1)
	h4.no-m-p Geral:
	ul
		if !user.twofactor
			li.bold: a(href='/twofactor.html') Configurar 2FA (TOTP)
		if permissions.get(Permissions.CREATE_BOARD)
			li: a(href='/create.html') Criar tábua
		if permissions.get(Permissions.CREATE_ACCOUNT)
			li: a(href='/register.html') Registar conta
		li: a(href='/changepassword.html') Alterar password
		li: a(href='/mypermissions.html') Minhas permissões
		li: a(href='/sessions.html') Sessões ativas
	form(action='/forms/logout' method='post')
		input(type='submit' value='Log out')

	if permissions.hasAny(Permissions.MANAGE_GLOBAL_GENERAL, Permissions.MANAGE_GLOBAL_BANS, Permissions.MANAGE_GLOBAL_BOARDS, Permissions.MANAGE_GLOBAL_LOGS, Permissions.MANAGE_GLOBAL_ACCOUNTS, Permissions.MANAGE_GLOBAL_NEWS, Permissions.MANAGE_GLOBAL_SETTINGS)
		hr(size=1)
		h4.no-m-p Global management:
		ul
			li
				if permissions.get(Permissions.MANAGE_GLOBAL_GENERAL)
					a(href=`/globalmanage/recent.html`) Recentes
					|   
					a(href=`/globalmanage/reports.html`) Denúncias
						if globalReportCount > 0
							b  (#{globalReportCount})
				if permissions.get(Permissions.MANAGE_GLOBAL_BANS)
					|   
					a(href=`/globalmanage/bans.html`) Bans
				if permissions.get(Permissions.MANAGE_GLOBAL_BOARDS)
					|   
					a(href=`/globalmanage/boards.html`) Tábuas
				if permissions.get(Permissions.MANAGE_GLOBAL_LOGS)
					|   
					a(href=`/globalmanage/globallogs.html`) Logs
				if permissions.get(Permissions.MANAGE_GLOBAL_ACCOUNTS)
					|   
					a(href=`/globalmanage/accounts.html`) Contas
				if permissions.get(Permissions.MANAGE_GLOBAL_ROLES)
					|   
					a(href=`/globalmanage/roles.html`) Roles
				if permissions.get(Permissions.MANAGE_GLOBAL_NEWS)
					|   
					a(href=`/globalmanage/news.html`) Notícias
				if permissions.get(Permissions.MANAGE_GLOBAL_SETTINGS)
					|   
					a(href=`/globalmanage/settings.html`) Opções Globais

	hr(size=1)
	h4.no-m-p Administrador das tábuas:
	if user.ownedBoards && user.ownedBoards.length > 0
		ul
			for b in user.ownedBoards
				li
					a(href=`/${b}/index.html`) /#{b}/
					|  -  
					a(href=`/${b}/manage/index.html`) Mod Index
					|    
					a(href=`/${b}/manage/catalog.html`) Mod Catálogo
					|   
					a(href=`/${b}/manage/recent.html`) Recentes
					|   
					a(href=`/${b}/manage/reports.html`) Denúncias
						if boardReportCountMap[b]
							b  (#{boardReportCountMap[b]})
					|   
					a(href=`/${b}/manage/bans.html`) Bans
					|   
					a(href=`/${b}/manage/logs.html`) Logs
					|   
					a(href=`/${b}/manage/settings.html`) Opções
					|   
					a(href=`/${b}/manage/assets.html`) Assets
					|   
					a(href=`/${b}/manage/custompages.html`) Páginas
					|   
					a(href=`/${b}/manage/staff.html`) Staff
	else
		p Nenhuma.

	hr(size=1)
	h4.no-m-p Tábuas em que fazes parte do staff:
	if user.staffBoards && user.staffBoards.length > 0
		ul
			for b in user.staffBoards
				li
					if permissions.get(Permissions.MANAGE_BOARD_GENERAL) || boardPermissions[b].get(Permissions.MANAGE_BOARD_GENERAL)
						a(href=`/${b}/index.html`) /#{b}/
						|  -  
						a(href=`/${b}/manage/index.html`) Mod Index
						|    
						a(href=`/${b}/manage/catalog.html`) Mod Catálogo
						|   
						a(href=`/${b}/manage/recent.html`) Recentes
						|   
						a(href=`/${b}/manage/reports.html`) Denúncias
							if boardReportCountMap[b]
								b  (#{boardReportCountMap[b]})
					if permissions.get(Permissions.MANAGE_BOARD_BANS) || boardPermissions[b].get(Permissions.MANAGE_BOARD_BANS)
						|   
						a(href=`/${b}/manage/bans.html`) Bans
					if permissions.get(Permissions.MANAGE_BOARD_LOGS) || boardPermissions[b].get(Permissions.MANAGE_BOARD_LOGS)
						|   
						a(href=`/${b}/manage/logs.html`) Logs
					if permissions.get(Permissions.MANAGE_BOARD_SETTINGS) || boardPermissions[b].get(Permissions.MANAGE_BOARD_SETTINGS)
						|   
						a(href=`/${b}/manage/settings.html`) Opções
					if permissions.get(Permissions.MANAGE_BOARD_CUSTOMISATION) || boardPermissions[b].get(Permissions.MANAGE_BOARD_CUSTOMISATION)
						|   
						a(href=`/${b}/manage/assets.html`) Assets
					if permissions.get(Permissions.MANAGE_BOARD_CUSTOMISATION) || boardPermissions[b].get(Permissions.MANAGE_BOARD_CUSTOMISATION)
						|   
						a(href=`/${b}/manage/custompages.html`) Páginas
					if permissions.get(Permissions.MANAGE_BOARD_STAFF) || boardPermissions[b].get(Permissions.MANAGE_BOARD_STAFF)
						|   
						a(href=`/${b}/manage/staff.html`) Staff
	else
		p Nenhuma.

	if user.staffBoards.length > 0 ||  user.ownedBoards.length > 0
		hr(size=1)
		h4.no-m-p Abandonar posição:
		.form-wrapper.flexleft.mt-10
			form.form-post(action=`/forms/resign`, enctype='application/x-www-form-urlencoded', method='POST')
				input(type='hidden' name='_csrf' value=csrf)
				.row
					.label Tábuas
					select(name='board' size='5')
						optgroup(label='Que administras')
							each board in user.ownedBoards
								option(value=board) #{board}
						optgroup(label='Que moderas')
							each board in user.staffBoards
								option(value=board) #{board}
				.row
					.label Tenho a certeza
					label.postform-style.ph-5
						input(type='checkbox', name='confirm', value='true' required)
				input(type='submit', value='Abandonar')

	hr(size=1)
	h4.no-m-p Apagar conta:
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/deleteaccount`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label Tenho a certeza
				label.postform-style.ph-5
					input(type='checkbox', name='confirm', value='true' required)
			input(type='submit', value='Apagar')
	
