extends ../layout.pug
include ../mixins/boardtable.pug
include ../mixins/catalogtile.pug

block head
	title #{meta.siteName}

block content
	//-h1.board-title #{meta.siteName}
	img.logo(src='/misc/martacomputador.png' style='max-height:200px!important' title='Um redesítio de desenhos animados.')
	.table-container.flex-center.mv-10.text-center

		//-table
			tr
				th #{__('Welcome')}
			tr
				td
					pre.no-m-p
						| O ptchan.org é um site dedicado à comunidade de língua portuguesa onde se pode participar de forma anónima e
						a(href='/faq.html#make-a-board') criar tábuas
						|.
	if recentNews && recentNews.length > 0
		.table-container.flex-center.mv-10
			table.newstable
				tr
					th(colspan=3) #{__('Latest News')}
				each post in recentNews
					tr
						td
							a.left(href=`/news.html#${post._id}`) #{post.title}
						td
							p.no-m-p #{`${post.message.raw.substring(0,50)}${post.message.raw.length > 50 ? '...' : ''}`}
						td
							- const newsDate = new Date(post.date);
							time.right.reltime(datetime=newsDate.toISOString()) #{newsDate.toLocaleString(pageLanguage, {hourCycle:'h23'})}

	if boards && boards.length > 0
		+boardtable(true, false)
			each board in boards
				tr
					td
						if board.settings.sfw === true
							span.left
								span.help(title=__('SFW')) &#x1F4BC;
								|
						a(href=`/${board._id}/index.html`) /#{board._id}/ - #{board.settings.name}
					//-td #{board.settings.description}
					//-td.nobreak #{board.pph}
					//-td.nobreak #{board.ppd}
					//-td.nobreak #{board.ips}
					td.nobreak #{board.sequence_value-1}
			if localStats.total-localStats.unlisted > boards.length
				tr
					td(colspan=6)
						a.bold(href='/boards.html') Mais tábuas

	if hotThreads && hotThreads.length > 0
		.catalog
			for thread, i in hotThreads
				- let anchorSubject = thread.subject
				if thread.subject
					- const subjectAnchorMatch = thread.subject.match(/^\/\w+\//);
					if subjectAnchorMatch
						- anchorSubject = subjectAnchorMatch[0]
				.hat
				.catalog-tile(tabindex=i+1
					data-board=thread.board
					data-post-id=thread.postId
					data-filter=((thread.subject||'')+(thread.nomarkup||'')).toLowerCase()
					data-email=thread.email
					data-date=thread.date
					data-replies=thread.replyposts
					data-bump=thread.bumped
					style='text-align: center;')
					- const postURL = `/${thread.board}/thread/${thread.postId}.html`
					.post-info(style='text-align: center;')
						.score-container(style='position: absolute; top: 5px; right: 5px; padding: 2px 5px; font-weight: bold;')
							span.help 🔥 #{thread.score.toFixed(0)}
						div(style='text-align: center;')
							a.no-decoration.post-subject(href=`/${thread.board}/`) /#{thread.board}/
						if thread.country && thread.country.code
							span(class=`flag flag-${thread.country.code.toLowerCase()}` title=thread.country.name alt=thread.country.name)
							|
						if thread.subject
							a.no-decoration.post-subject(href=postURL) #{thread.subject}
						else
							a.no-decoration.post-subject(href=postURL) ##{thread.postId}
					if thread.files.length > 0
						- const file = thread.files[0]
						div(style='display: flex; justify-content: center; margin: 5px 0;')
							if thread.spoiler || file.spoiler
								a(href=postURL)
									.spoilerimg.catalog-thumb
							else if file.hasThumb
								a(href=postURL)
									img.catalog-thumb(src=`/file/thumb/${file.hash}${file.thumbextension}` loading='lazy')
							else if file.attachment
								.attachmentimg.catalog-thumb(data-mimetype=file.mimetype)
							else if file.mimetype.split('/')[0] === 'audio'
								.audioimg.catalog-thumb
					if thread.message
						pre.no-m-p.post-message !{thread.message}

	.table-container.flex-center.mv-10.text-center
		table(style='max-width:450px')
			tr
				th #{__('Local Stats')}
			tr
				td
					pre.no-m-p
						| #{__('There are currently %s public boards, %s in total. Sitewide, %s posts have been made in the last day, %s in the last hour, %s in total.', localStats.total-localStats.unlisted, localStats.total, localStats.ppd, localStats.pph, localStats.posts)}
						| #{__('%s files are being served, totaling %s.', fileStats.count, fileStats.totalSizeString)}
						|
						a(href='http://jieq75a6uwqbj5sjzaxlnd7xwgs35audjmkk4g3gfjwosfrz7cp47xid.onion') 🧅Tor
	if enableWebring === true && webringStats != null
		.table-container.flex-center.mv-10.text-center
			table(style='max-width:450px')
				tr
					th #{__('Webring Stats')}
				tr
					td
						pre.no-m-p
							| #{__('There are currently %s sites and %s boards in the known webring. Across all webring boards, %s posts have been made in the last hour, %s in total.', webringStats.sites, webringStats.total, webringStats.pph, webringStats.posts)}
